@{
    ViewData["Title"] = "Report PDF";
    Layout = "~/Views/Shared/_Backend.cshtml";
}

<h1>QuestPDF Report</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, exercitationem officia perferendis id distinctio consectetur minima aliquid facere eum fugit provident ratione dolores culpa quidem saepe et possimus non nihil?</p>